#task-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    max-width: 1000px;
    margin: auto;
}

input,
button {
    padding: 8px;
    font-size: 16px;
}

button.add-task {
    cursor: pointer;
}

#eventModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(17, 225, 240);
    padding: 20px;
    z-index: 2;
    display: none; 
}
